## 1주차 퀴즈

파일명을 1주차퀴즈_(성함)으로 변경 부탁드립니다.  
이번 주말까지 문제 푸시고, 파일 제출해주시면 됩니다.

#### 1. 정삼각형 모양으로 별을 찍으세요.

아래와 같이 5줄의 정삼각형 모양으로 별을 찍으세요.  
<pre>
    *
   ***
  *****
 *******
*********
</pre>

In [61]:
a = 5
for i in range(a):
    sp = ' ' * (a - i - 1) # 공뱍
    star = '*' * (2 * i + 1) # 별
    print(sp + star)

    *
   ***
  *****
 *******
*********

#### 2. 윤년인지 판별하세요.

연도를 입력받아 윤년 여부를 출력하세요.  
윤년 조건:
- 연도가 4의 배수이면서 100의 배수가 아님
- 연도가 400의 배수
  
예시)  
2024 -> 윤년  
2025 -> 평년  
2100 -> 평년  
2400 -> 윤년

In [60]:
# 답안을 작성해주세요.
year = int(input())
# 윤년인지 평년인지 판단하는 프로그램
# 윤년: 4로 나누어 떨어지고, 100으로 나누어 떨어지지 않거나 400으로 나누어 떨어지는 해
# 평년: 나머지 경우
# 2000년 같은 윤년은 평년으로 잘못 처리될 수 있어 %400으로 예외처리
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("윤년")
else:
    print("평년")

평년

#### 3. 딕셔너리를 (키, 밸류) 튜플로 이루어진 리스트로 변환하세요.

딕셔너리를 원소가 (키, 밸류) 튜플인 리스트로 변환해 반환하는 함수를 만드세요.  
예시)  
{'a': 1, 'b': 2, 'c': 3} -> [('a', 1), ('b', 2), ('c', 3)]

In [ ]:
# 답안을 작성하세요.
# 딕셔너리원소 (key, value) 튜플인 리스트 변환
def dict_to_list(d):
    # 리스트 원소 (key, value) 튜플인 딕셔너리 변환
    # d.items()를 이용해 
    # 딕셔너리의 key와 value를 각각 k, v로 가져와서
    # (k, v) 형태의 튜플을 리스트로 만들어 반환
    return [(k, v) for k, v in d.items()]

dict_to_list({'a': 1, 'b': 2, 'c': 3})

[('a', 1), ('b', 2), ('c', 3)]

#### 4. 문자열 길이 리스트를 반환하는 함수를 만드세요.

리스트가 주어졌을 때, 원소의 자료형이 문자열인 경우에만,  
문자열 길이를 리스트로 변환해 반환하는 함수를 만드세요.  
예시)  
['apple', 'banana', 3, ['cherry', 'kiwi'], 'strawberry'] -> [5, 6, 10]

len 함수로 문자열의 길이를 구할 수 있습니다.

### 이건 1차 코드 작성한겁니다!

In [1]:
list_a = [1, 2, 3, 4, 5,'apple', 'orange', 'pineapple', 'banana', 'kiwi']
# 리스트 길이만큼 반복
for i in range(len(list_a)):
    # 리스트의 원소가 문자열인 경우
    if isinstance(list_a[i], str):
        # list_a[i]의 문자의 길이 확인
        #print(len(list_a[i]))
        # 문자열 -> 문자열 길이를 넣어줌
        list_a[i] = len(list_a[i])
    else:
        pass
print(list_a)

# 문자열 길이를 리스트로 변환
# 반환

[1, 2, 3, 4, 5, 5, 6, 9, 6, 4]

## 답안 코드 (이게 최종본입니다)

In [55]:
# 문자열 길이 리스트를 반환하는 함수
def to_len(list_a):
    # 리스트 길이만큼 반복
    for i in range(len(list_a)):
        # 만약, i번째 원소가 문자열인 경우
        if isinstance(list_a[i], str):
            # list_a[i]의 문자의 길이를 list_a[i]에 넣어줌
            list_a[i] = len(list_a[i])
            # 만약, i번째 원소가 리스트인 경우
        elif isinstance(list_a[i], list):
            # list_a[i]의 원소를 리스트 길이로 변환
            to_len(list_a[i]) # 재귀함수

In [56]:
li = ['apple', 'banana', 3, ['cherry', 'kiwi'], 'strawberry']
to_len(li)

In [57]:
print(li)

[5, 6, 3, [6, 4], 10]