In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("/Users/joy/Desktop/통계.csv.xlsx")

In [6]:
df

    x
0  61
1  59
2  60
3  67
4  53

In [8]:
# 평균 구하기
mean_x = df['x'].mean()
mean_x

np.float64(60.0)

In [9]:
# 중앙값 구하기
medin_x = df['x'].median()
medin_x

np.float64(60.0)

In [11]:
# 표준편차 구하기
std_x = df['x'].std()
std_x

np.float64(5.0)

In [12]:
# 분산 구하기
var_x = df['x'].var()

In [15]:
# 최소값, 최대값
min_x = df['x'].min()
max_x = df['x'].max()

print(min_x)
print(max_x)

53
67

In [17]:
# 사분위수 구하기
q1 = df['x'].quantile(0.25)
q3 = df['x'].quantile(0.75)

print(q1)
print(q3)

59.0
61.0

---
**사분위수(Quartile)** ? 
- 데이터를 네 개의 구간으로 나누는 기준점
- 주로 데이터의 분포나 이상치 판단에 사용

### ✅ 사분위수를 구하는 이유

1. 데이터 분포 파악 <br>
• 중앙값, 퍼짐 정도를 시각적으로 파악 가능 <br>
• 예: Q1=59, Q3=61 → 대부분 데이터가 59~61 사이에 몰려 있음

2. 이상치(Outlier) 탐지 <br>
• IQR(사분위 범위) = Q3 - Q1 <br>|
• 이상치는 보통 아래 기준으로 판단함:
    ```python
    이상치 하한: Q1 - 1.5 * IQR  
    이상치 상한: Q3 + 1.5 * IQR
    # 이 범위를 벗어나면 비정상 데이터일 가능성이 있음
    ```

3. 편향된 데이터 해석 방지 <br>
• 평균은 극단값에 영향 받지만 사분위수는 덜함 <br>
• 그래서 중앙값(Median)과 함께 쓰면 데이터 왜곡을 줄일 수 있어