### for 반복문 continue

In [1]:
for i in range(1,10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

## enumerate
- 리스트나 튜플과 같은 반복 가능한(iterable) 객체를 인덱스 + 값 형태의 튜플로 만들어주는 내장 함수
- 인덱스와 함께 값을 다루고 싶을때 유용함.
- 필요 시 start = 1로 시작 번호도 바꿀 수 있음.

In [4]:
numbers = [10, 20, 30, 40]
print(enumerate(numbers))
list(enumerate(numbers))

<enumerate object at 0x10486afc0>

[(0, 10), (1, 20), (2, 30), (3, 40)]

### for문에서 활용

In [5]:
for i, number in enumerate(numbers):
    print(i, number)

0 10
1 20
2 30
3 40

### Q.  나올 수 있게 enumerate 활용

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruits):
    continue    
print(list(enumerate(fruits)))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

### 이터러블(iterable) vs 이터레이터(iterator)

In [12]:
li = [1, 2, 3, 4, 5]
print(iter(li))
type(iter(li))

<list_iterator object at 0x1048905e0>

list_iterator

In [13]:
for i in iter(li):
    print(i)

1
2
3
4
5

### 튜플 함수
- 매개변수 앞에 *는 튜플, **는 딕셔너리

In [14]:
def f(*values):
    print(values)
f(1, 2, 3)

(1, 2, 3)

In [16]:
def f6(gift, *values):
    print(gift,values)
f6('gift', 1, 2, 3)

gift (1, 2, 3)

In [19]:
def f7(gift, *values):  
    print(gift,values)
f7('과일','바나나','사과','포도')

과일 ('바나나', '사과', '포도')

In [23]:
def f8(*values,menu = "과일"):
    print(values,menu)
f8('과일','바나나','사과','포도')

('과일', '바나나', '사과', '포도') 과일

---

## set
- 딕셔너리랑 헷갈리지 말기

In [28]:
sets = {1, 2, 3}
print(type(sets))
print(sets)

<class 'set'>
{1, 2, 3}

In [36]:
def f15(**values):
    print(values)

In [37]:
f15(name = '홍길동', age = 20, address = '서울시')

{'name': '홍길동', 'age': 20, 'address': '서울시'}

In [38]:
f15(fruits = ['사과', '바나나', '포도'], vegetables = ['상추', '오이', '당근'])

{'fruits': ['사과', '바나나', '포도'], 'vegetables': ['상추', '오이', '당근']}

In [39]:
def f(**val):
    print(val)

In [40]:
f()

{}

In [41]:
f(type='healing',country='Korea',city='seoul',arrive_day='2023-10-01',airline='koreanAir',arrive_city = 'incheon',depart_city = 'LA' ,depart_day ='2023-10-01' ,depart_time='12:00',hotel='Hilton',room='101', meal='breakfast')

{'type': 'healing', 'country': 'Korea', 'city': 'seoul', 'arrive_day': '2023-10-01', 'airline': 'koreanAir', 'arrive_city': 'incheon', 'depart_city': 'LA', 'depart_day': '2023-10-01', 'depart_time': '12:00', 'hotel': 'Hilton', 'room': '101', 'meal': 'breakfast'}

---

### 람다(lambda)
• 이름 없는 함수 (익명 함수) <br>
• 한 줄짜리 함수 만들 때 사용 <br>
• lambda 매개변수: 반환값 <br>

In [43]:
def add(x,y):
    return x + y

# 람다 함수
add__lambda = lambda x, y: x + y

In [44]:
print(add(4, 7))
print(add__lambda(4, 7))

11
11

In [45]:
type(add__lambda)

function

In [47]:
lambda_fruit = lambda apple,banna, cherry: apple + banna + cherry
print('과일개수 : {}'.format(lambda_fruit(1, 2, 3)))

과일개수 : 6

---

## 파일 읽기 연습

In [55]:
f1 = open('/Users/joy/Desktop/Git_RP/GitHub/EST_Python/250421/open_sample.txt', 'r')

In [57]:
with open('/Users/joy/Desktop/Git_RP/GitHub/EST_Python/250421/open_sample.txt', 'r') as f1:
    lines = f1.readlines()
    for line in lines:
        print(line.strip())

오늘 점심은 뭘 먹으면 좋을까?
내일은 뭘 먹으면 좋을까?

---

In [58]:
def return_func(x):
    return x
    return "hi"

In [62]:
def gen_func(x):
    print("입력값")
    yield x

    print("입력값+1")
    x += 1
    yield x

    print("입력값+2")
    x += 1
    yield x

In [63]:
gen_func(1)

In [64]:
for i in gen_func(1):
    print(i)

입력값
1
입력값+1
2
입력값+2
3

---

### try except else 구문

```python
try:
    # 오류가 발생할 수 있는 코드
except:
    # 오류 발생 시 실행
else:
    # 오류가 없을 때만 실행
```

try: 시도 <br>
except: 실패 시 대처 <br>
else: 성공했을 때만 추가로 실행 <br>
finally: 무조건 실행 (정리용) <br>

In [65]:
num = int(input("정수를 입력하세요: "))

In [66]:
try:
    num/2
except:
    print("Not divided by 0")

In [71]:
try:
    num = int(input("정수를 입력하세요: "))
    print(num)
    print(2*3.14*num)
except: #예외 발생시 처리
    print("정수를 입력헤야 합니다") #오류 발생시 출력할 문구
else:
    print("예외가 발생하지 않음") # 예외가 발생하지 않을 때 실행할 문구
finally:
    print("무조건 실행") # 예외 발생 여부와 관계없이 실행할 문구

정수를 입력헤야 합니다
무조건 실행