### for 반복문 continue

- 조건에 맞으면 continue를 만나고 → 아래 코드를 실행하지 않고 다음 반복 진행
- break는 반복문을 아예 종료, continue는 건너뛰고 계속

In [1]:
for i in range(1,10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

## enumerate
- 리스트나 튜플과 같은 반복 가능한(iterable) 객체를 인덱스 + 값 형태의 튜플로 만들어주는 내장 함수
- 인덱스와 함께 값을 다루고 싶을때 유용함.
- 필요 시 start = 1로 시작 번호도 바꿀 수 있음.

In [2]:
numbers = [10, 20, 30, 40]
print(enumerate(numbers))
list(enumerate(numbers))

<enumerate object at 0x107e7e610>

[(0, 10), (1, 20), (2, 30), (3, 40)]

### for문에서 활용

In [3]:
for i, number in enumerate(numbers):
    print(i, number)

0 10
1 20
2 30
3 40

#### Q. enumerate 활용해서 [(0, 'apple'), (1, 'banana'), (2, 'cherry')] 출력

In [4]:
fruits = ['apple', 'banana', 'cherry']
# enumerate() 함수를 사용해 (인덱스, 값) 형태의 튜플 리스트로 변환하여 출력
print(list(enumerate(fruits)))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

---

### 이터러블(iterable) vs 이터레이터(iterator)

✅ 이터러블 (iterable) <br>
• 반복 가능한 객체 <br>
• for문으로 하나씩 꺼내 쓸 수 있는 것 <br>
• 예: list, tuple, str, dict, set

In [70]:
li = [1, 2, 3, 4, 5]
print(iter(li))
type(iter(li))

<list_iterator object at 0x103e808e0>

list_iterator

In [71]:
fruits = ['apple', 'banana']
for f in fruits:  # fruits는 이터러블
    print(f)

apple
banana

✅ 이터레이터 (iterator) <br>
• next()로 값을 하나씩 꺼낼 수 있는 객체 <br>
• iter()로 이터러블 → 이터레이터로 변환 가능

In [5]:
for i in iter(li):
    print(i)

NameError: name 'li' is not defined

In [73]:
fruits = ['apple', 'banana']
it = iter(fruits)    # 이터러블 → 이터레이터
print(next(it))      # apple
print(next(it))      # banana

apple
banana

### 튜플 함수
### 🔹 *args → 여러 개의 값을 튜플로 받음 <br>

In [74]:
def f(*values):
    print(values)
f(1, 2, 3)

(1, 2, 3)

In [75]:
def f6(gift, *values):
    print(gift,values)
f6('gift', 1, 2, 3)

gift (1, 2, 3)

In [76]:
def f7(gift, *values):  
    print(gift,values)
f7('과일','바나나','사과','포도')

과일 ('바나나', '사과', '포도')

In [77]:
def f8(*values,menu = "과일"):
    print(values,menu)
f8('과일','바나나','사과','포도')

('과일', '바나나', '사과', '포도') 과일

### 🔹 **kwargs → 키워드 인자를 딕셔너리로 받음

In [10]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1, b=2)  
# 출력: {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [11]:
def f15(**values):
    print(values)

In [12]:
def f(**val):
    print(val)

In [13]:
def f(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} ➡ {value}")

---

### ✅ set (집합) <br>
• 중복 ❌ / 순서 ❌ <br>
• 수학의 집합처럼 중복 제거에 사용됨 <br>
• { } 사용하지만, 딕셔너리와는 다름 <br>
• 리스트 → 집합으로 변환 시 중복 자동 제거

In [81]:
fruits = ['apple', 'banana', 'apple', 'cherry']
unique_fruits = set(fruits)
print(unique_fruits)  # {'banana', 'apple', 'cherry'}

{'apple', 'cherry', 'banana'}

### ❗ 딕셔너리와의 차이

### 📌 빈 집합 만들기
- 딕셔너리랑 헷갈리지 않게 set()으로 빈 집합 만들기 꼭 기억하기!

In [113]:
s = set()  # 딕셔너리와 구분: {}는 빈 dict

In [114]:
s = {1, 2, 3, 3}
print(s)  # 출력: {1, 2, 3}

{1, 2, 3}

In [115]:
print(type(s))

<class 'set'>

In [116]:
f()

In [117]:
f15 = set()

In [118]:
f15 = {'홍길동', 20, '서울시'}  # set은 key 없이 값만 넣음
print(f15)

{'홍길동', '서울시', 20}

In [2]:
items = ['칫솔', '치약', '수건', '칫솔', '양말', '수건']
unique_items = set(items)
print(unique_items)

{'칫솔', '치약', '양말', '수건'}

---

### 람다(lambda)
• 이름 없는 함수 (익명 함수) <br>
• 한 줄짜리 함수 만들 때 사용 <br>
• lambda 매개변수: 반환값 <br>

In [ ]:
def add(x,y):
    return x + y

# 람다 함수
add__lambda = lambda x, y: x + y

In [3]:
print(add(4, 7))
print(add__lambda(4, 7))

11
11

In [5]:
type(add__lambda)

function

In [6]:
lambda_fruit = lambda apple,banna, cherry: apple + banna + cherry
print('과일개수 : {}'.format(lambda_fruit(1, 2, 3)))

과일개수 : 6

---

## 파일 읽기 연습

In [7]:
f1 = open('/Users/joy/Desktop/Git_RP/GitHub/EST_Python/250421/open_sample.txt', 'r')

In [8]:
with open('/Users/joy/Desktop/Git_RP/GitHub/EST_Python/250421/open_sample.txt', 'r') as f1:
    lines = f1.readlines()
    for line in lines:
        print(line.strip())

오늘 점심은 뭘 먹으면 좋을까?
내일은 뭘 먹으면 좋을까?

---

In [9]:
def return_func(x):
    return x
    return "hi"

In [10]:
def gen_func(x):
    print("입력값")
    yield x

    print("입력값+1")
    x += 1
    yield x

    print("입력값+2")
    x += 1
    yield x

In [11]:
gen_func(1)

In [12]:
for i in gen_func(1):
    print(i)

입력값
1
입력값+1
2
입력값+2
3

---

### try except else 구문

```python
try:
    # 오류가 발생할 수 있는 코드
except:
    # 오류 발생 시 실행
else:
    # 오류가 없을 때만 실행
```

try: 시도 <br>
except: 실패 시 대처 <br>
else: 성공했을 때만 추가로 실행 <br>
finally: 무조건 실행 (정리용) <br>

In [73]:
num = int(input("정수를 입력하세요: "))

In [75]:
try:
    num/2
except:
    print("Not divided by 0")

In [5]:
try:
    num = int(input("정수를 입력하세요: "))
    print(num)
    print(2*3.14*num)
except: #예외 발생시 처리
    print("정수를 입력헤야 합니다") #오류 발생시 출력할 문구
else:
    print("예외가 발생하지 않음") # 예외가 발생하지 않을 때 실행할 문구
finally:
    print("무조건 실행") # 예외 발생 여부와 관계없이 실행할 문구

34
213.52
예외가 발생하지 않음
무조건 실행